@font-face{
    font-family: "Glacial Indifference";
    src: url("../fonts/glacialindifference-bold-webfont.woff");
    src: url("../fonts/glacialindifference-regular-webfont.woff")
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

